
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <button type="button" class="btn btn-primary" onclick="return Add()"><span class="bold fa fa-plus"></span>&nbsp;&nbsp;Create New</button>
                <hr />

                <table class="table table-bordered table-striped table-condensed table-responsive table-hover" id="tbSatuan"></table>
            </div>
        </div>
    </div>
</div>



